PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2025-11-05 14:23:27.436098');
INSERT INTO django_migrations VALUES(2,'contenttypes','0002_remove_content_type_name','2025-11-05 14:23:27.447989');
INSERT INTO django_migrations VALUES(3,'auth','0001_initial','2025-11-05 14:23:27.486347');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
INSERT INTO auth_user VALUES(1,'pbkdf2_sha256$1000000$mN5Wjk5RkvO5OaOvMCP4UB$+IfhV90miWBZFaUTSfN0kt4DOiQPfA/OybXhQYVj+9Q=','2025-11-05 16:14:49.671343',1,'armaa','','',1,1,'2025-11-05 16:14:35.055390','');
INSERT INTO auth_user VALUES(2,'pbkdf2_sha256$1000000$6Dsug1tuyeMNG9QM2Lkji3$EXpyKD/S8l9lg8MHY940iRk5GqcN7TrakkuOSeKnPJs=',NULL,0,'arma','aaaa','jsjsj@ajaja.com',0,1,'2025-11-05 16:35:01.202969','aaa');
INSERT INTO auth_user VALUES(3,'pbkdf2_sha256$1000000$9Uuac9NueRQS2YRpxV9tmK$uvLdePYM8UK4ya2uBF80+bDDysu/lhzPHWTjVWKS9DI=','2025-11-07 12:34:36.067360',1,'lakshya','Dubey','lakshya_717@outlook.com',1,1,'2025-11-06 06:15:10','Lakshya');
CREATE TABLE IF NOT EXISTS "Masters_master_role" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(50) NOT NULL UNIQUE);
INSERT INTO Masters_master_role VALUES(1,'Admin');
INSERT INTO Masters_master_role VALUES(2,'Mechanic');
INSERT INTO Masters_master_role VALUES(3,'Accountant');
CREATE TABLE IF NOT EXISTS "Masters_master_spare_part_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(50) NOT NULL UNIQUE, "description" text NULL);
INSERT INTO Masters_master_spare_part_type VALUES(1,'engine','kshfjkf');
CREATE TABLE IF NOT EXISTS "Masters_master_vehicle_brand" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(50) NOT NULL UNIQUE);
INSERT INTO Masters_master_vehicle_brand VALUES(1,'honda');
CREATE TABLE IF NOT EXISTS "Masters_master_vehicle_category" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(50) NOT NULL UNIQUE, "licence_type" varchar(20) NOT NULL, "wheels" smallint unsigned NOT NULL CHECK ("wheels" >= 0));
INSERT INTO Masters_master_vehicle_category VALUES(1,'car','licensed',69);
CREATE TABLE IF NOT EXISTS "Masters_master_expertise_area" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL UNIQUE, "description" text NULL, "role_id" bigint NOT NULL REFERENCES "Masters_master_role" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "Masters_master_pay_grade_level" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "level" varchar(10) NOT NULL, "base_salary" decimal NOT NULL, "description" text NULL, "role_id" bigint NOT NULL REFERENCES "Masters_master_role" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO Masters_master_pay_grade_level VALUES(1,'1',80000,'',1);
CREATE TABLE IF NOT EXISTS "Masters_master_vehicle_model" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL, "engine" varchar(50) NOT NULL, "weight" integer unsigned NULL CHECK ("weight" >= 0), "description" text NOT NULL, "brand_id" bigint NOT NULL REFERENCES "Masters_master_vehicle_brand" ("id") DEFERRABLE INITIALLY DEFERRED, "category_id" bigint NOT NULL REFERENCES "Masters_master_vehicle_category" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO Masters_master_vehicle_model VALUES(1,'civic','gawk gawk',69,'jshdjsbf',1,1);
CREATE TABLE IF NOT EXISTS "CORE_employee" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "DOB" date NOT NULL, "Address" text NOT NULL, "mobile_number" varchar(128) NOT NULL, "shift" varchar(10) NULL, "pay_grade_id" bigint NULL REFERENCES "Masters_master_pay_grade_level" ("id") DEFERRABLE INITIALLY DEFERRED, "role_id" bigint NULL REFERENCES "Masters_master_role" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL UNIQUE REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO CORE_employee VALUES(1,'2025-11-07','Saket, Indore','+916264388849','MORNING',1,1,3);
INSERT INTO CORE_employee VALUES(2,'2004-10-04','VijayWada','+915454693789','MORNING',NULL,3,4);
INSERT INTO CORE_employee VALUES(3,'2004-01-02','Chennai','+918936962624','MORNING',NULL,4,5);
CREATE TABLE IF NOT EXISTS "CORE_customer" ("user_id" integer NOT NULL PRIMARY KEY REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "mobile_number" varchar(128) NOT NULL, "address" text NULL, "description" text NULL);
CREATE TABLE IF NOT EXISTS "CORE_accountant" ("employee_id" bigint NOT NULL PRIMARY KEY REFERENCES "CORE_employee" ("id") DEFERRABLE INITIALLY DEFERRED, "education" text NULL);
INSERT INTO CORE_accountant VALUES(2,'CA');
CREATE TABLE IF NOT EXISTS "CORE_advisor" ("employee_id" bigint NOT NULL PRIMARY KEY REFERENCES "CORE_employee" ("id") DEFERRABLE INITIALLY DEFERRED, "education_desc" text NULL);
CREATE TABLE IF NOT EXISTS "CORE_cashier" ("employee_id" bigint NOT NULL PRIMARY KEY REFERENCES "CORE_employee" ("id") DEFERRABLE INITIALLY DEFERRED, "counter_number" varchar(10) NOT NULL);
INSERT INTO CORE_cashier VALUES(3,'3');
CREATE TABLE IF NOT EXISTS "CORE_mechanic" ("employee_id" bigint NOT NULL PRIMARY KEY REFERENCES "CORE_employee" ("id") DEFERRABLE INITIALLY DEFERRED, "years_of_experience" smallint unsigned NOT NULL CHECK ("years_of_experience" >= 0), "certifications" text NULL, "expertise_area_id" bigint NOT NULL REFERENCES "Masters_master_expertise_area" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "CORE_sparepart" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL, "quantity_in_stock" integer unsigned NOT NULL CHECK ("quantity_in_stock" >= 0), "price" decimal NOT NULL, "type_id" bigint NULL REFERENCES "Masters_master_spare_part_type" ("id") DEFERRABLE INITIALLY DEFERRED, "vehicle_model_id" bigint NOT NULL REFERENCES "Masters_master_vehicle_model" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO CORE_sparepart VALUES(1,'civic',122,83838,1,1);
CREATE TABLE IF NOT EXISTS "CORE_servicepart" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "quantity" integer unsigned NOT NULL CHECK ("quantity" >= 0), "unit_price" decimal NOT NULL, "service_id" bigint NOT NULL REFERENCES "CORE_service" ("id") DEFERRABLE INITIALLY DEFERRED, "part_id" bigint NOT NULL REFERENCES "CORE_sparepart" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "CORE_inventoryinvoice" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "supplier" varchar(100) NOT NULL, "quantity_received" integer unsigned NOT NULL CHECK ("quantity_received" >= 0), "date" datetime NOT NULL, "cost" decimal NOT NULL, "spare_part_id" bigint NOT NULL REFERENCES "CORE_sparepart" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "CORE_vehicle" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "registration_number" varchar(20) NOT NULL UNIQUE, "chassis_number" varchar(17) NOT NULL UNIQUE, "year" smallint unsigned NOT NULL CHECK ("year" >= 0), "description" text NOT NULL, "customer_id" integer NOT NULL REFERENCES "CORE_customer" ("user_id") DEFERRABLE INITIALLY DEFERRED, "model_id" bigint NOT NULL REFERENCES "Masters_master_vehicle_model" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "CORE_service" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "status" varchar(20) NOT NULL, "description_of_service" text NOT NULL, "labor_cost" decimal NOT NULL, "service_date" datetime NOT NULL, "customer_id" integer NOT NULL REFERENCES "CORE_customer" ("user_id") DEFERRABLE INITIALLY DEFERRED, "vehicle_id" bigint NOT NULL REFERENCES "CORE_vehicle" ("id") DEFERRABLE INITIALLY DEFERRED, "mechanic_id" bigint NULL REFERENCES "CORE_mechanic" ("employee_id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "CORE_serviceinvoice" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "date" datetime NOT NULL, "amount" decimal NOT NULL, "payment_method" varchar(10) NOT NULL, "status" varchar(10) NOT NULL, "service_id" bigint NOT NULL UNIQUE REFERENCES "CORE_service" ("id") DEFERRABLE INITIALLY DEFERRED, "cashier_id" bigint NOT NULL REFERENCES "CORE_cashier" ("employee_id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
INSERT INTO django_admin_log VALUES(1,'1','honda',1,'[{"added": {}}]',21,1,'2025-11-05 16:15:43.395080');
INSERT INTO django_admin_log VALUES(2,'1','car',1,'[{"added": {}}]',22,1,'2025-11-05 16:15:58.097231');
INSERT INTO django_admin_log VALUES(3,'1','honda civic',1,'[{"added": {}}]',25,1,'2025-11-05 16:16:13.999515');
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('rjugelgyk0zeamawtgn7d59y253vm8up','.eJyVjsFuwjAQRP9lz1WEEycxHLnzDdauvTQGY0e2o5Yi_r1JiSpx4MBx5s3O7A2-3A8mq_ky-nhl1iYxFheDfgDY3SAXHmEHU-YEH39KWyw4o_sqj85zfmj-Lgn_-WysA2bKJV44vR4Ik_fv12ucyqCX37Sby0DAk0dozhwWYE8YPmNlYijJUbVEqpXm6hAt-_2afSoYMA_zteo6pYjkRjQNd0YZaSViW5OoyRI3W-6UxNq0oq_5SKaVqiUrkEUjelY93H8BnXB_Nw:1vGgTO:ayT1cGKac_WqC6lBu65WaxdReP1R-Kxlj2wMzWgYFT4','2025-11-19 16:35:02.451008');
INSERT INTO django_session VALUES('z25m06y08kjr4skvb8hweim2j0i6lbhe','.eJxVjEtOwzAYhO_idRWlcarEWbLnDNb_MjEYu7IdFVrl7k1phGA3M9_M3JSFpc52KZKtZzUprQ5_MwT6kPgA_A7xLTWUYs0em0el2WlpXhNLeNm7_w5mKPO2HgbnzMmRaQGJR9GokYe-Y2egPSKZHjp3MiRwHGEEjb3BljqDMhBp7rfTi79CZiuf55C-RSxlgepTtE-gppsqVc5qiksIhx9tGSpsYN2t80HK08tXzfDL1_UODyNcxw:1vHLw5:nLPoFsfBgX_lawCnk5cIhBRoNP7Dqrchknuc3kBqFM8','2025-11-21 12:51:25.501793');
INSERT INTO django_session VALUES('ybedqmkoradilyqgk0x8qfercyxlwo7v','.eJxVjcuOgjAYhd-la0OQYqAuZz_P0Py3Skekpq3xFt7dEolxlud85_JUFi55sJck0XpWe6XV5ttDoKNMC-A_mA6hojDl6LFaItVKU_UbWMafNftvYIA0lHbXOWd2jkwNSNyLRo3ctQ07A_UWybTQuJ0hgW0PPWhsDdbUGJSOSHNbRq_-AZGtnM5juItYigLZh8m-gdo_VcpyLmfLcSksyjJkKGhepfOjpLeWW47w4fP8ArH-XQ8:1vHLky:_SOeAS4h9Bp-TiAtjk9wlXGmlrh7f6YlPej61I0BJYU','2025-11-21 12:39:56.897010');
INSERT INTO sqlite_sequence VALUES('django_migrations',21);
INSERT INTO sqlite_sequence VALUES('django_content_type',25);
INSERT INTO sqlite_sequence VALUES('auth_permission',100);
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "Masters_master_expertise_area_role_id_82dc56c3" ON "Masters_master_expertise_area" ("role_id");
CREATE UNIQUE INDEX "Masters_master_pay_grade_level_role_id_level_3194a9d6_uniq" ON "Masters_master_pay_grade_level" ("role_id", "level");
CREATE INDEX "Masters_master_pay_grade_level_role_id_691cc7b2" ON "Masters_master_pay_grade_level" ("role_id");
CREATE UNIQUE INDEX "Masters_master_vehicle_model_brand_id_name_c8eaf8de_uniq" ON "Masters_master_vehicle_model" ("brand_id", "name");
CREATE INDEX "Masters_master_vehicle_model_brand_id_2c81c645" ON "Masters_master_vehicle_model" ("brand_id");
CREATE INDEX "Masters_master_vehicle_model_category_id_46c005b1" ON "Masters_master_vehicle_model" ("category_id");
CREATE INDEX "CORE_employee_pay_grade_id_dcce3e6e" ON "CORE_employee" ("pay_grade_id");
CREATE INDEX "CORE_employee_role_id_d059113d" ON "CORE_employee" ("role_id");
CREATE INDEX "CORE_mechanic_expertise_area_id_5a7f3546" ON "CORE_mechanic" ("expertise_area_id");
CREATE UNIQUE INDEX "CORE_sparepart_vehicle_model_id_name_32caaead_uniq" ON "CORE_sparepart" ("vehicle_model_id", "name");
CREATE INDEX "CORE_sparepart_type_id_60c590bf" ON "CORE_sparepart" ("type_id");
CREATE INDEX "CORE_sparepart_vehicle_model_id_9af94d87" ON "CORE_sparepart" ("vehicle_model_id");
CREATE UNIQUE INDEX "CORE_servicepart_service_id_part_id_d7a69a0e_uniq" ON "CORE_servicepart" ("service_id", "part_id");
CREATE INDEX "CORE_servicepart_service_id_19b7f66e" ON "CORE_servicepart" ("service_id");
CREATE INDEX "CORE_servicepart_part_id_4a1c2323" ON "CORE_servicepart" ("part_id");
CREATE INDEX "CORE_inventoryinvoice_spare_part_id_91069a8a" ON "CORE_inventoryinvoice" ("spare_part_id");
CREATE INDEX "CORE_vehicle_customer_id_370e1bb0" ON "CORE_vehicle" ("customer_id");
CREATE INDEX "CORE_vehicle_model_id_79d8b126" ON "CORE_vehicle" ("model_id");
CREATE INDEX "CORE_service_customer_id_64546910" ON "CORE_service" ("customer_id");
CREATE INDEX "CORE_service_vehicle_id_79f35b9e" ON "CORE_service" ("vehicle_id");
CREATE INDEX "CORE_serviceinvoice_cashier_id_41d6c839" ON "CORE_serviceinvoice" ("cashier_id");
CREATE INDEX "CORE_service_mechanic_id_9b8019d7" ON "CORE_service" ("mechanic_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
COMMIT;
