:root, [data-bs-theme=light] {
  --bs-primary: #263c7b;
  --bs-primary-rgb: 38,60,123;
  --bs-primary-text-emphasis: #0F1831;
  --bs-primary-bg-subtle: #D4D8E5;
  --bs-primary-border-subtle: #A8B1CA;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #263c7b;
  --bs-btn-border-color: #263c7b;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #203369;
  --bs-btn-hover-border-color: #1E3062;
  --bs-btn-focus-shadow-rgb: 222,226,235;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1E3062;
  --bs-btn-active-border-color: #1D2D5C;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #263c7b;
  --bs-btn-disabled-border-color: #263c7b;
}

.btn-outline-primary {
  --bs-btn-color: #263c7b;
  --bs-btn-border-color: #263c7b;
  --bs-btn-focus-shadow-rgb: 38,60,123;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #263c7b;
  --bs-btn-hover-border-color: #263c7b;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #263c7b;
  --bs-btn-active-border-color: #263c7b;
  --bs-btn-disabled-color: #263c7b;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #263c7b;
}

.m-0 {
  margin: 0 !important;
}

.mx-3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-2 {
  margin-top: .5rem !important;
  margin-bottom: .5rem !important;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mt-2 {
  margin-top: .5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.me-2 {
  margin-right: .5rem !important;
}

.me-3 {
  margin-right: 1rem !important;
}

.me-auto {
  margin-right: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: .25rem !important;
}

.mb-2 {
  margin-bottom: .5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.ms-auto {
  margin-left: auto !important;
}

@media (min-width: 576px) {
  .mb-sm-0 {
    margin-bottom: 0rem !important;
  }
}

@media (min-width: 768px) {
  .my-md-0 {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
  }
}

@media (min-width: 768px) {
  .ms-md-3 {
    margin-left: 1rem !important;
  }
}

