{% load static %}
{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Step 2: Employee</title>
    
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    {% bootstrap_css %}
</head>
<body style="background-color: transparent;">
    <div class="p-4">
        <form action="" method="post">
            {% csrf_token %}
            {{ wizard.management_form }}
            
            <fieldset>
                <legend>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}: Employee Details</legend>
                
                {% bootstrap_form wizard.form %}

            </fieldset>
            
            <hr>

            {% if wizard.steps.prev %}
                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="btn btn-secondary">
                    Previous
                </button>
            {% endif %}
            
            <button type="submit" class="btn btn-primary">Next</button>
        </form>
    </div>
    
    {% bootstrap_javascript %}
</body>
</html>